.container {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.link:hover {
  color: #f0ce26;
}

.container_item {
  margin-top: 1rem;
}

.item_title {
  margin: 0.5rem 0;
  color: #f0ce26;
}

.item_description {
  color: rgb(224, 216, 216);
  margin-bottom: 1rem;
  display: block;
}

.btn_add {
  padding: 0.5rem;
  background-color: white;
  outline: none;
  cursor: pointer;
}
